{% trans %}

<p>Approved under Decision no. 1426/QĐ-BTNMT dated July 02, 2020, by the Minister of Natural Resources and Environment, Project “Mitigating Marine Plastic Debris in Viet Nam” facilitates the development of guidelines on policy advocacy and communication programs to capacity building, awareness raising and behaviour change, towards the mitigation of marine plastic debris. The project constitutes a potential contributor to the reduction of marine plastic debris in Viet Nam and the materialisation of the National Action Plan for Marine Plastic Debris Management in Viet Nam by 2030.</p>

{% endtrans %}
