<a href="http://vasi.gov.vn/Pages/trang-chu.aspx" target="_blank"><img src="/images/logos/vasi.png" style="height: 100px;"/></a>
<a href="https://monre.gov.vn/" target="_blank"><img src="/images/logos/tnmt.png" style="height: 70px;"/></a>
<a href="https://vietnam.panda.org/" target="_blank"><img src="/images/logos/wwf.png" style="height: 120px;"/></a>
<!-- <br/>
<a href="http://icfj.org" target="_blank"><img src="/images/logos/icfj.png" style="height: 75px;"/></a>
<a href="http://google-africa.blogspot.com/" target="_blank"><img src="/images/logos/google.png" style="height: 100px;"/></a> -->
